<!DOCTYPE html>
<html>
<head>
    <title>Recordly</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ccc; padding: 8px; }
        th { background: #222; color: white; }
        a { text-decoration: none; margin-right: 8px; }
        .btn { padding: 6px 10px; border: 1px solid #222; }
    </style>
</head>
<body>
    <h1>Recordly</h1>
    {% block content %}{% endblock %}
    <div style="
  background: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: system-ui, sans-serif;
">

  <strong>⚠ Demo Warning</strong>
  <p style="margin-top: 8px;">
    This is a <b>demo project</b> deployed for learning and portfolio purposes.
    Please <b>delete your data before closing</b> the app.
    Data may be reset anytime.
  </p>

  <hr style="margin: 12px 0;">

  <p>
    👋 Built by <b>Kervin Kittuselvan</b> — an IT engineering student on an
    <b>full-stack learning journey</b>.
  </p>

  <p>
    🔗 Links:
    <br>
    • GitHub: <a href="https://github.com/Kervin45" target="_blank">github.com/Kervin45</a><br>
    • LinkedIn: <a href="www.linkedin.com/in/kervin-kittuselvan-6b2927256" target="_blank">LinkedIn Profile</a><br>
    • Instagram: <a href="https://www.instagram.com/its.me_kervin?igsh=MTU2Mm0xN283ZHM1Yw==" target="_blank">@its.me_kervin
    
    </a>
  </p>

  <p style="font-size: 13px; opacity: 0.8;">
    Tech: Python · Flask · SQLite · HTML · Deployed on Render
  </p>
</div>

</body>
</html>
