{% extends "base.html" %}

{% block content %}
<a href="/create" class="btn">+ New Record</a>
<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Tags</th>
        <th>Actions</th>
    </tr>
    {% for r in records %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.title }}</td>
        <td>{{ r.content }}</td>
        <td>{{ r.tags }}</td>
        <td>
            <a href="/edit/{{ r.id }}">Edit</a>
            <a href="/delete/{{ r.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
